@media only screen and (max-width: 1000px) {
    .bottom-cloud{
        position: absolute;
        left: 6.875rem;
        bottom: 40rem;
    } 
    
    .top-cloud{
        position: absolute;
        right: 15.875rem;
        top: 5 0px;
    }
  }

body{
margin: 0px;
text-align: center;
background-color: #E4F9F5;
font-family: verdana, sans-serif;
}

h1{    
    margin: 50px auto 0 auto;    
    font-size: 5.625rem;
    font-family: 'Sacramento',cursive;
}

h2{
    font-family: 'Ubuntu',sans-serif;
}

h3{
    font-family: 'Ubuntu',sans-serif;
}

.container-top{
    padding-top: 12.5rem;
}

.container-middle{
 
}

.container-bottom{

}  

.bottom-cloud{
    position: absolute;
    left: 21.875rem;
    bottom: 9rem;
} 

.top-cloud{
    position: absolute;
    right: 21.875rem;
    top: 10 0px;
}

.imgPP{
    border-radius: 90%;
    width: 12.5rem;
    height: 12.5rem;
    margin-top: 1.563rem;
}

.imgAdapt{    
    width: 12.5rem;
    height: 12.5rem;
    margin-top: 1.563rem;
}

.subh2{
    font-size: 1.5rem;
}

