
body{
    margin: 0px;
    text-align: center;
    background-color: #E4F9F5;
    font-family: verdana, sans-serif;
    }

h1{    
    margin: 50px auto 0 auto;    
    font-size: 5.625rem;
    font-family: 'Sacramento',cursive;
    color: #66BFBF;
  
}

h2{
    font-family: 'Ubuntu',sans-serif;
    color: #66BFBF;
    font-weight: normal;
}

h3{
    font-family: 'Ubuntu',sans-serif;
    color: #11999E;
}

p{        
    line-height: 2;
}

.helloMsg{
    width: 30%;
    margin:auto;
}

.container-top{
   /* padding-top: 12.5rem;*/
   padding-top:5%;
}

.container-middle{
  
}

.bottom-container{
    background-color: #FFD700;
    height: max-content;
    padding: 25px 0 50px 0;
}  

.bottom-cloud{
    position: absolute;
    /*left: 21.875rem;
    bottom: 9rem;*/
    left: 33%;
    bottom: 40%;
} 

.top-cloud{
    position: absolute;
    /*right: 21.875rem;
    top: 10 0px;*/
    right: 30%;
    top: 15%;
}

.imgPP{
    border-radius: 90%;
    width: 12.5rem;
    height: 12.5rem;
    margin-top: 1.563rem;
}

.imgCode{
    border-radius: 90%;
    width: 12.5rem;
    height: 12.5rem;
    margin-top: 1.563rem;
}

.imgAdapt{    
    width: 12.5rem;
    height: 12.5rem;
    margin-top: 1.563rem;   
}

.imgMountain{    
    width: 40rem;
    height: 25rem;
    margin-top: 1.563rem;
}

.subh2{
    font-size: 1.5rem;
}

.skill-row{
    width: 50%;
    margin: 50px auto 50px auto;
}


.footer-link{
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Ubuntu',sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  margin: 125px;
  text-decoration: none;
}

.footer-link:hover{

  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;

}

@media only screen and (max-width: 600px) {

    body{
        margin: 0px;
        text-align: center;
        background-color: #E4F9F5;
        font-family: verdana, sans-serif;
    }
    h1 {
        margin: 50px auto 0px auto;
        font-size: 4.625rem;
        font-family: 'Sacramento',cursive;
        color: #66BFBF;
        
    }
        
    h2{
            font-family: 'Ubuntu',sans-serif;
            font-size: 2.625rem;
            font-weight: normal;
            color: #66BFBF;
    }
        
    h3{
            font-family: 'Ubuntu',sans-serif;
            color: #11999E;
    }
    .bottom-cloud {
        position: absolute;
        left: 2.875rem;
        bottom: 17rem;
        width: 21%;
        height: auto;
    }
    .top-cloud {
        position: absolute;
        right: 4.575rem;
        top: 50%;
        width: 21%;
        height: auto;
    }
    .container-top{
        padding-top: 3rem;
    }
    .imgMountain {
        width: 96%;
        height: 96%;
        margin-top: 0.263rem;
    }   
}
